main {
    margin-top: 56px;
    padding-top: 20px;
    height: calc(100vh - 56px);
    width: 100%;
}

body {
    background-color: #1c3c63;
    background-image: url("./media/bg-azul.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    -webkit-background-size: 100% 100vh;
    -moz-background-size: 100% 100vh;
    -o-background-size: 100% 100vh;
    background-size: 100% 100vh;
}